.AdminPage{
    width: 100vw;
    height: 100vh;
    background-color: #00bee5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.AdminInfoPannel{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    font-size: 30px;
    margin-top: 20px;
}
.AdminInfoPannel a{
    position: absolute;
    left: -300px;
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: all 0.4s;
    &:hover{
        transform: scale(1.1);
        box-shadow: 1px 1px 3px black;
    }
}
.AdminPage .AdminVerification{
    width: 600px;
    height: 300px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}
.AdminVerification input{
    padding-left: 10px;
}
.AdminVerification input,.AdminVerification button{
    width: 300px;
    height: 30px;
    margin: 10px 0;
    background-color: white;
    color: black;
    border: 2px solid gray;
    font-size: 1.1rem;
}
.AdminVerification div{
    position: relative;
}
.AdminPassInput svg{
    position: absolute;
    top: 51%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
        transform:translateY(-50%) scale(1.2);
    }
}
.AdminVerification .error{
    position: absolute;
    color: red;
    bottom: -7px;
    font-size: 14px;
    left: 10px;
}
.AdminVerification button{
    margin-top: 40px;
    width: 150px;
    background-color: black;
    color: white;
    font-size: 1.3rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s;
    &:hover{
        background-color: #00bee5;
    }
}