.DoctorInfoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;
}
.DoctorsDatah1 {
  font-size: 2.5rem;
}
.DoctorsDatah1Special{
  margin-bottom: 2rem;
}
.DoctorInfoA {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  box-shadow: 0 0 3px black;
  padding: 10px 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 2rem 0;

  &:hover {
    background-color: #65e5ff;
    box-shadow: none;
  }
}
.DoctorDiv{
    display: flex;
    justify-content: space-evenly;
    width: 1300px;
    margin: 2rem 0;
}
.DoctorCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 3px black;
  width: 500px;
  padding: 20px 0;
  border-radius: 20px;
}
.UserDocDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 7px black;
  padding: 10px 30px;
  border-radius: 5px;
}
.UserDocDiv svg {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 6px;
  margin-bottom: 10px;
}
.UserDocDiv p {
  font-weight: 600;
  font-size: 1.2rem;
}
.Doc_Num_Mail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.Doc_Num_Mail div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 230px;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}
.Doc_Num_Mail div svg {
  margin: 0.5rem 0 5px 0;
}
.Doc_Num_Mail div p {
  margin-bottom: 0.5rem;
}
.Doc_Age_Gen_Exp {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.Doc_Age_Gen_Exp div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    margin: 10px 0;
    box-shadow: 0 0 3px black;
    border-radius: 10px;
}
.Doc_Age_Gen_Exp div h5{
    margin-bottom: 2px;
}
.Doc_Update_Delete{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}
.Doc_Update_Delete button{
    width: 100px;
    height: 30px;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    &:hover{
        transform: scale(1.1);
    }
}
.Doc_Update_Delete .DocUpdateBtn{
    border: 1px solid #00bee5;
    background-color: transparent;
    color: #00bee5;
    &:hover{
        border-color: transparent;
        color: white;
        background-color: #00bee5;
    }
}
.Doc_Update_Delete .DocDeleteBtn{
    border: 1px solid transparent;
    background-color: red;
    color: white;
    &:hover{
        border-color: red;
        color: red;
        background-color: transparent;
    }
}
.DocPaginationButtons{
    min-width: 200px;
    max-width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.DocPaginationButtons button{
    font-size: 1.2rem;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 3px black;
    transition: all 0.3s;
    cursor: pointer;
    &:hover{
        background-color: #00bee5;
        color: white;
    }
}
.DocPaginationButtons .active{
    transform: scale(1.2);
    background-color: transparent;
    color: #00bee5;
    box-shadow: 0 0 10px #00bee5;
    &:hover{
        background-color: transparent;
        color:#00bee5;
    }
}
.UpdateDoctorForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.UpdateDoctorForm div{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 0;
    width: 300px;
    position: relative;
}
.UpdateDoctorForm div input,.UpdateDoctorForm div select{
    width: 200px;
    padding-left: 10px;
}
.UpdateDoctorForm div p{
    color: red;
    position: absolute;
    right: -15px;
    top: -1px;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}
